html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Georgia;
  vertical-align: baseline;
}

body {
  line-height: 2.0
  font: Georgia;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}